h1{
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: rebeccapurple;
}

.huff {
  background-image: url("https://www.10wallpaper.com/wallpaper/medium/1803/Captain_America_2018_movies_poster_medium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img{
padding-left: 10%;
}

a:hover{
  background-color: blue;
}

p{
  text-align: center;
  color: green;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
}

.hide1{
  display: none;
}

.hide2{
  display: none;
}

.hide3{
  display: none;
}

.hide4{
  display: none;
}

.hide5{
  display: none;
}

.hide6{
  display: none;
}

.glass{
  padding-top: 20%;
}

.tomb{
  padding-top: 30%;
}

.lucy{
  padding-top: 30%;
}

.klaus{
  padding-top: 20%;
}

.nemo{
  padding-top: 30%;
}

.dash{
  padding-top: 10%;
}
