body{
  background-image: url("images/Pand.png");
  background-size: cover;
  height:960px;
  width: 1300px;
  color: purple;
  font-family: 'Lobster', cursive;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.head{
text-align: center;
background-color: rgba(100, 100, 50, 0.5);
width: 100%;
}
.gif{
  margin: 10px;
  background-position: center;
  padding: 8px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 11px #000000;
  float: right;
}
form{
  float: right;
  margin-top: -10px;
}
.topnav{
  text-align: center;
}
.lion{
  color: skyblue;
}
